.tile-inner {
  background: #09f;
  border-radius: 0;
}

.flipper {
  width: 100%;
  height: 100%;
  position: relative;
}

.mask {
  background: #09f;
}

.sw {
	position: absolute;
	width: 2400px;
}

.sw-col {
	float: left;
	position: relative;
	width: 200px;
}

.sw-block {
	width: 200px;
}

.sw-block img {
	min-height: 100%;
	min-width: 100%;
}

.sw-block-1 {
	height: 100px;
}

.sw-block-2 {
	height: 200px;
}

.sw-block-3 {
	height: 300px;
}

.sw-block-4 {
	height: 400px;
}
